<div class="login__logo"></div>
<div class="login__title">{{loginTitle}}</div>
<div class="login__subheader">{{subheader}}</div>
<div class="login__row">
  <input id='fio' type="text" class="login__input" placeholder="{{placeholderFio}}"/>
</div>
<div class="login__row">
  <input id='nickName' type="text" class="login__input" placeholder="{{placeholderNick}}"/>
</div>
<div class="login__row login__row--btn">
  <button id='logInBtn' class="login__button button">{{buttonText}}</button>
</div>